POSTGRES_USER=DB_USER
POSTGRES_PASSWORD=DB_PWD
POSTGRES_DB=DB_DB

DBSTRING=postgres://DB_USER:DB_PWD@database:5432/DB_DB?sslmode=disable
TEST_DBSTRING=postgres://DB_USER:DB_PWD@localhost:5432/DB_DB?sslmode=disable
